body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  background: #1d2128;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #15171b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272b33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333945;
}

.header {
  width: 100%;
  z-index: 100;
  top: 40px;
  padding: 0px 80px;
  position: absolute;
  width: 100%;
}

.logo {
  margin-right: 30px;
  vertical-align: middle;
}
.logo__text {
  margin: 0;
  color: #ffb700;
  font-size: 24px;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffb700;
  text-shadow: 0px 0px 15px rgba(255, 183, 0, 0.4);
}

.btn {
  padding: 10px 30px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}
.btn--primary {
  background: #ffb700;
  border: none;
  color: #1d2128;
  -webkit-box-shadow: 0px 0px 30px rgba(255, 183, 0, 0.7);
          box-shadow: 0px 0px 30px rgba(255, 183, 0, 0.7);
}
.btn--secondary {
  background: transparent;
  border: #ffb700 2px solid;
  color: #ffb700;
  -webkit-box-shadow: 0px 0px 30px rgba(255, 183, 0, 0.2);
          box-shadow: 0px 0px 30px rgba(255, 183, 0, 0.2);
}
.btn--tertiary {
  padding: 0;
  background: transparent;
  border: none;
  color: #fff;
  text-shadow: 0px 0px 30px rgba(255, 183, 0, 0.2);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  list-style: none;
}
.navigation__item {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.stiky-nav {
  position: fixed;
  bottom: 200px;
  left: 200px;
  z-index: 10;
  border-radius: 50%;
  background: #242931;
  z-index: 20;
  height: 50px;
  width: 50px;
  -webkit-box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.stiky-nav__wrapper {
  position: relative;
}
.stiky-nav__link {
  position: absolute;
  top: 51%;
  left: 0%;
  text-align: center;
  margin: 0px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  background: #363c46;
  padding: 7px;
  border-radius: 9px;
}
.stiky-nav__link--1 {
  -webkit-transform: translate(120px);
          transform: translate(120px);
}
.stiky-nav__link--2 {
  -webkit-transform: rotate(46deg) translate(120px) rotate(-46deg);
          transform: rotate(46deg) translate(120px) rotate(-46deg);
}
.stiky-nav__link--3 {
  -webkit-transform: rotate(91deg) translate(120px) rotate(-91deg);
          transform: rotate(91deg) translate(120px) rotate(-91deg);
}
.stiky-nav__link--4 {
  -webkit-transform: rotate(136deg) translate(120px) rotate(-136deg);
          transform: rotate(136deg) translate(120px) rotate(-136deg);
}
.stiky-nav__link--5 {
  -webkit-transform: rotate(181deg) translate(120px) rotate(-181deg);
          transform: rotate(181deg) translate(120px) rotate(-181deg);
}
.stiky-nav__link--6 {
  -webkit-transform: rotate(226deg) translate(120px) rotate(-226deg);
          transform: rotate(226deg) translate(120px) rotate(-226deg);
}
.stiky-nav__link--7 {
  -webkit-transform: rotate(271deg) translate(120px) rotate(-271deg);
          transform: rotate(271deg) translate(120px) rotate(-271deg);
}
.stiky-nav__link--8 {
  -webkit-transform: rotate(316deg) translate(120px) rotate(-316deg);
          transform: rotate(316deg) translate(120px) rotate(-316deg);
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0px 80px;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1d2128;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d2128), to(rgba(29, 33, 40, 0)));
  background: linear-gradient(180deg, #1d2128 0%, rgba(29, 33, 40, 0) 100%);
  top: 0;
  left: 0;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1d2128;
  background: -webkit-gradient(linear, left bottom, left top, from(#1d2128), to(rgba(29, 33, 40, 0)));
  background: linear-gradient(0deg, #1d2128 0%, rgba(29, 33, 40, 0) 100%);
  bottom: 0;
  left: 0;
}
.hero__inner {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.hero__text-wrapp {
  max-width: 700px;
}
.hero__title {
  font-size: 56px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  font-size: 72px;
  font-family: "Exo 2", sans-serif;
  color: #fff;
  text-shadow: 0px 0px 15px rgba(255, 183, 0, 0.4);
  font-style: italic;
  -webkit-animation: 1s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
          animation: 1s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
}
.hero__subtitle {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
  -webkit-animation: 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
          animation: 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
}
.hero__aditional {
  font-size: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: transparent;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffb700;
  text-shadow: 0px 0px 30px rgba(255, 183, 0, 0.7);
  position: absolute;
  bottom: -30px;
  right: -60px;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}
.hero__aditional span {
  font-size: 24px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0px;
  color: rgba(255, 183, 0, 0.8);
}
.hero__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  -webkit-animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
          animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
}
.hero__img {
  max-width: 350px;
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 100px rgba(255, 183, 0, 0.3));
          filter: drop-shadow(0px 0px 100px rgba(255, 183, 0, 0.3));
}
.hero__img img {
  width: 100%;
}
.hero__img img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #1d2128;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d2128), to(rgba(29, 33, 40, 0.3480742639)));
  background: linear-gradient(900deg, #1d2128 0%, rgba(29, 33, 40, 0.3480742639) 100%);
}
.hero__btn-wrapp {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  -webkit-animation: 1.7s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
          animation: 1.7s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin: 70px 0px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.section__title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffb700;
  text-shadow: 0px 0px 15px rgba(255, 183, 0, 0.4);
  margin: 0;
}
.section__subtitle {
  color: rgba(255, 255, 255, 0.7);
  max-width: 70%;
  font-size: 15px;
}

.main {
  padding: 20px 80px;
}

.car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 450px;
  margin: 0 auto;
  -webkit-animation: carapear 4s linear;
          animation: carapear 4s linear;
}
.car__item {
  position: absolute;
  cursor: pointer;
}
.car__item:hover {
  -webkit-filter: invert(20%);
          filter: invert(20%);
}
.car__dor1 {
  bottom: 40px;
  left: 109px;
}
.car__dor2 {
  bottom: 40px;
  left: 237px;
}
.car__light1 {
  bottom: 85px;
  left: 440px;
}
.car__light2 {
  bottom: 72px;
  left: -36px;
}
.car__whels1 {
  bottom: 6px;
  left: 336px;
  -webkit-animation: rotate 2s linear;
          animation: rotate 2s linear;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}
.car__whels2 {
  bottom: 6px;
  left: 3px;
  -webkit-animation: rotate 2s linear;
          animation: rotate 2s linear;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes carapear {
  0% {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes carapear {
  0% {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30px auto;
  grid-template-columns: auto auto;
  gap: 30px;
  position: relative;
}
.services::before {
  content: "";
  top: -30px;
  left: 0;
  width: 400px;
  height: 400px;
  position: absolute;
  background: rgba(255, 183, 0, 0.12);
  -webkit-filter: blur(250px);
          filter: blur(250px);
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 230px;
  transition: all 0.2s linear;
  position: relative;
  cursor: crosshair;
  -webkit-box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.014), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02), 12.5px 12.5px 10px rgba(0, 0, 0, 0.025), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.036), 100px 100px 80px rgba(0, 0, 0, 0.05);
          box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.014), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02), 12.5px 12.5px 10px rgba(0, 0, 0, 0.025), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.036), 100px 100px 80px rgba(0, 0, 0, 0.05);
}
.services__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 4;
}
.services__item::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 30%;
  top: 0;
  left: 0;
  border-left: 2px solid #ffb700;
  border-top: 2px solid #ffb700;
  pointer-events: none;
}
.services__item::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 30%;
  bottom: 0;
  right: 0;
  border-right: 2px solid #ffb700;
  border-bottom: 2px solid #ffb700;
  pointer-events: none;
}
.services__item:hover::before, .services__item:hover::after {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
}
.services__content {
  text-align: start;
}
.services__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #ffb700;
  margin-bottom: 10px;
  text-shadow: 0px 0px 30px rgba(255, 183, 0, 0.4);
}
.services__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
.services__btn {
  float: right;
  margin-top: 30px;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 105px;
  margin: 70px -90px;
}
.statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statistics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.statistics__count {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  color: transparent;
  margin: 80px 0px 50px 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
  margin: 0;
}
.statistics__title {
  color: #ffb700;
  font-weight: 600;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 90px;
  position: relative;
  margin: 0px -90px;
  background: #191d23;
  margin-top: 120px;
}
.faq__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  width: 200px;
  margin-left: 20px;
}
.faq__item:hover .faq__img {
  border: 2px solid #ffb700;
}
.faq__number {
  font-size: 120px;
  font-family: "Exo 2", sans-serif;
  color: transparent;
  margin: 80px 0px 50px 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffb700;
  text-shadow: 0px 0px 15px rgba(255, 183, 0, 0.4);
  margin: 0;
  padding: 0;
  line-height: 0;
  position: relative;
  z-index: 3;
}
.faq__text {
  color: #fff;
  font-weight: 800;
  position: relative;
  z-index: 3;
}
.faq__img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  z-index: 2;
  top: -81px;
  right: 78px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
.team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background: #1d2128;
  background: -webkit-gradient(linear, left top, right top, from(#1d2128), to(rgba(29, 33, 40, 0)));
  background: linear-gradient(90deg, #1d2128 0%, rgba(29, 33, 40, 0) 100%);
  z-index: 10;
}
.team::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  width: 150px;
  height: 100%;
  background: #1d2128;
  background: -webkit-gradient(linear, left top, right top, from(#1d2128), to(rgba(29, 33, 40, 0)));
  background: linear-gradient(90deg, #1d2128 0%, rgba(29, 33, 40, 0) 100%);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 10;
}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px !important;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.team__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 25px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 2px solid #ffb700;
  position: relative;
}
.team__name {
  font-size: 18px;
  color: #fff;
  font-weight: 800;
  margin-bottom: 7px;
}
.team__title {
  font-size: 14px;
  color: #ffb700;
  text-shadow: 0px 0px 15px #ffb700;
}

.slick-slide img {
  display: inline !important;
}

.serviceall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 105px;
  margin: 120px -90px 70px;
}
.serviceall__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}
.serviceall__title {
  color: #ffb700;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 25px;
}
.serviceall__text {
  color: #fff;
  line-height: 1.6;
  font-size: 15px;
}
.serviceall__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 15px;
}
.serviceall__item {
  color: #fff;
  font-weight: 600;
  text-shadow: 3px 3px 35px #5414b4;
}
.serviceall__item::before {
  content: url("/assets/icons/done_white_24dp.svg");
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 100px;
  margin: 20px 0px;
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  list-style: none;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts__title {
  color: #ffb700;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  text-shadow: 0px 0px 20px rgba(255, 183, 0, 0.6);
}
.contacts__content {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 700;
}
.contacts__content i {
  margin-right: 5px;
}
.contacts__content span {
  font-style: italic;
  margin-right: 5px;
}
.contacts__content:not(:last-child) {
  margin-bottom: 8px;
}

.modal {
  position: fixed;
  width: 50vw;
  height: auto;
  background: #242931;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 25px;
  -webkit-box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.008), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.012), 12.5px 12.5px 10px rgba(0, 0, 0, 0.015), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.018), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.022), 100px 100px 80px rgba(0, 0, 0, 0.03);
          box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.008), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.012), 12.5px 12.5px 10px rgba(0, 0, 0, 0.015), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.018), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.022), 100px 100px 80px rgba(0, 0, 0, 0.03);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 999;
  display: none;
}
.modal::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 30%;
  top: 0;
  left: 0;
  border-left: 2px solid #ffb700;
  border-top: 2px solid #ffb700;
  pointer-events: none;
  -webkit-animation: 1.5s modal cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: 1.5s modal cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 30%;
  bottom: 0;
  right: 0;
  border-right: 2px solid #ffb700;
  border-bottom: 2px solid #ffb700;
  pointer-events: none;
  -webkit-animation: 1.5s modal cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: 1.5s modal cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal__form {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-animation: 1s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
          animation: 1s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
}
.modal__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 20px;
}
.modal__input {
  width: 100%;
  background: #363c46;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 15px;
  font-weight: 500;
}
.modal__input:focus {
  outline: 2px solid #ffb700;
}
.modal__input:not(:last-child) {
  margin-bottom: 15px;
}
.modal__title {
  color: #ffb700;
  font-weight: 800;
  font-size: 26px;
  margin-bottom: 10px;
  -webkit-animation: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
          animation: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
}
.modal__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  -webkit-animation: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
          animation: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
}
.modal__subtitle a {
  color: #fff;
}
.modal__caption {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffb700;
  font-size: 26px;
  cursor: pointer;
  text-shadow: 0px 0px 20px rgba(255, 183, 0, 0.6);
}
.modal__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  -webkit-animation: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
          animation: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) slidIn;
}
.modal__info {
  color: rgba(255, 183, 0, 0.6);
  font-size: 14px;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: rgba(29, 33, 40, 0.9);
  z-index: 888;
}

@-webkit-keyframes slidIn {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slidIn {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes modal {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 20%;
    height: 30%;
  }
}
@keyframes modal {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 20%;
    height: 30%;
  }
}